<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>377550279656-rfel5doeu5u676jnesqk7e5v82timlle.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.377550279656-rfel5doeu5u676jnesqk7e5v82timlle</string>
	<key>API_KEY</key>
	<string>AIzaSyB72Xx2y-DfiriIqZM7ptz9TCATAUhuB3g</string>
	<key>GCM_SENDER_ID</key>
	<string>377550279656</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.crudfirebase</string>
	<key>PROJECT_ID</key>
	<string>crudfirebase-9d699</string>
	<key>STORAGE_BUCKET</key>
	<string>crudfirebase-9d699.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:377550279656:ios:c2052debe159e0a8c1ca5d</string>
</dict>
</plist>